.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
}

.product {
  max-width: 50%;
  flex: 1 1 50%;
  padding: 16px 8px;

  .product-link {
    display: flex;
    flex-direction: column;
    height: 100%;

    .type {
      position: absolute;
      padding: 8px 16px;
      background-color: #42b883;
      color: #fff;
      bottom: 16px;
      left: 0px;
      text-transform: capitalize;
    }

    .detail {
      background-color: #496583;
      padding: 16px 8px;
      flex: 1 1 100%;
      border-radius: 0px 0px 8px 8px;

      .price {
        color: #aaa;
        font-size: 14px;
      }

      h3 {
        color: #fff;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}
