.product-card {
    border: 1px #fff;
    border-radius: 2px;
    padding: 16px;

    h2 {
        color: #d6d6d2;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 16px;
    }
   
    p {
        color: #d6d6d2;
        font-size: 18px;
        line-height: 1.5;
    }
}

