* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  &::selection {
    background: transparentize($color: #b84242, $amount: 0.5);
  }
}

body {
  background-color: #35495E ;
}
a {
  text-decoration: none;
}